@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* FONT */
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* COLOR PALETTE (BANSOS THEME) */
    --color-base: #F4F6E6;
    --color-surface: #DDE6C3;
    --color-primary: #A9C3A1;
    --color-secondary: #7E8F78;
    --color-dark: #000000;
}


